In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests
# Import the API key
from config import g_key

In [5]:
# Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv("cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,El Reno,US,2021-09-26 20:54:05,35.5323,-97.9550,93.20,22,1,24.16
1,1,Vaini,TO,2021-09-26 20:54:05,-21.2000,-175.2000,73.56,83,75,3.44
2,2,Mataura,NZ,2021-09-26 20:54:06,-46.1927,168.8643,41.49,70,5,2.15
3,3,Georgetown,MY,2021-09-26 20:54:06,5.4112,100.3354,76.95,94,40,3.00
4,4,Chuy,UY,2021-09-26 20:54:06,-33.6971,-53.4616,62.06,83,1,6.89

In [6]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [7]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [11]:
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [15]:
# Heatmap of temperature
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidit
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [21]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Georgetown,MY,2021-09-26 20:54:06,5.4112,100.3354,76.95,94,40,3.00
5,5,Nishihara,JP,2021-09-26 20:54:07,26.1842,127.7558,79.88,95,40,5.75
9,9,Kavieng,PG,2021-09-26 20:54:08,-2.5744,150.7967,81.16,80,97,5.88
11,11,Saint Anthony,US,2021-09-26 20:54:08,45.0205,-93.2180,86.31,46,40,3.00
18,18,Jacmel,HT,2021-09-26 20:54:11,18.2342,-72.5347,81.59,81,78,1.01
24,24,Lianyuan,CN,2021-09-26 20:54:13,27.6883,111.6642,77.49,77,13,4.03
26,26,Biak,ID,2021-09-26 20:54:13,-0.9131,122.8766,75.20,81,100,4.72
29,29,Buraydah,SA,2021-09-26 20:50:42,26.3260,43.9750,84.65,27,14,12.01
37,37,Avarua,CK,2021-09-26 20:54:17,-21.2078,-159.7750,77.05,73,90,6.91
43,43,Port Blair,IN,2021-09-26 20:54:18,11.6667,92.7500,79.72,87,99,12.50

In [23]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       2
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [25]:
preferred_cities_clean = preferred_cities_df.dropna()
preferred_cities_clean.count()

City_ID       179
City          179
Country       179
Date          179
Lat           179
Lng           179
Max Temp      179
Humidity      179
Cloudiness    179
Wind Speed    179
dtype: int64

In [26]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
3      Georgetown      MY     76.95   5.4112  100.3354
5       Nishihara      JP     79.88  26.1842  127.7558
9         Kavieng      PG     81.16  -2.5744  150.7967
11  Saint Anthony      US     86.31  45.0205  -93.2180
18         Jacmel      HT     81.59  18.2342  -72.5347
24       Lianyuan      CN     77.49  27.6883  111.6642
26           Biak      ID     75.20  -0.9131  122.8766
29       Buraydah      SA     84.65  26.3260   43.9750
37         Avarua      CK     77.05 -21.2078 -159.7750
43     Port Blair      IN     79.72  11.6667   92.7500

In [28]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

hotels

{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}

In [30]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [31]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Georgetown,MY,76.95,5.4112,100.3354,Cititel Penang
5,Nishihara,JP,79.88,26.1842,127.7558,Minshuku Agaihama
9,Kavieng,PG,81.16,-2.5744,150.7967,Nusa Island Retreat
11,Saint Anthony,US,86.31,45.0205,-93.2180,"Holiday Inn Express Roseville-St. Paul, an IHG..."
18,Jacmel,HT,81.59,18.2342,-72.5347,Historic Hotel Florita
24,Lianyuan,CN,77.49,27.6883,111.6642,Lianyuan Hotel
26,Biak,ID,75.20,-0.9131,122.8766,Penginapan Kim
29,Buraydah,SA,84.65,26.3260,43.9750,فندق راحة السلام
37,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
43,Port Blair,IN,79.72,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"

In [36]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [38]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))